@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
 header{
    position: fixed;
    width: 100%;
    top:0;
    right:0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
 }

 .logo{
    color: #758C7D;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
 }

 .navlist{
    display:flex;
 }
 .navlist a{
    color: #32312C;
    font-size: 17px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .45s ease;
 }

.navlist a:hover{
    color: #758C7D; 
}
.navlist a.active{
    color: #758C7D;
}

#menu-icon{
    font-size: 35px;
    color: #32312C;
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display:none;
}

section{
    padding: 160px 15% 120px;
}

.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(./pastelblue.webp);
    background-size:cover;
    background-position:center;
    display:flex;
    align-items: center;
    justify-content: flex-start;
}
.slide{
    margin-bottom: 20px;
}
.home-text{
    font-size: 20px;
    font-weight: 700;
    list-style: 1.1;
    margin: 0 0 8px;
}
.about-img{
    width:80%;
}